@import "tailwindcss";

@theme {
  --default-font-family: "Shrikhand", sans-serif;
  --font-funky: "Monoton", cursive;

  --color-orange-cgh: oklch(0.72 0.18 35);
  --color-mustard-cgh: oklch(0.82 0.2 95);
  --color-chocolate-cgh: oklch(0.35 0.05 35);
  --color-beige-cgh: oklch(0.95 0.02 85);
  --color-petrol-cgh: oklch(0.45 0.09 260);
  --color-blue-cgh: oklch(0.735 0.144 181);
  --color-coral-cgh: oklch(0.75 0.15 40);
  --color-dusk-cgh: oklch(0.32 0.05 270);
}
