@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --default-font-family: "Rubik", sans-serif;
  /* --font-funky: "Monoton", cursive; */
  --font-funky: "Shrikhand", cursive;

  /* warm core */
  --color-custard-cgh: oklch(94.8% 0.061 94.1); /* #FBEEC0 */
  --color-sand-cgh: oklch(92.2% 0.033 85.5); /* #EFE4CD */
  --color-marigold-cgh: oklch(80.5% 0.155 79.3); /* #F4B22E */
  --color-tangerine-cgh: oklch(72.8% 0.162 56.2); /* #F2882B */
  --color-burnt-orange-cgh: oklch(60.7% 0.2 34.2); /* #E0431D */
  --color-chili-cgh: oklch(49.4% 0.157 33.6); /* #A8331A */
  --color-espresso-cgh: oklch(27.2% 0.05 51.4); /* #3A1F0E */
  --color-dusk-cgh: oklch(0.32 0.05 270); /* #555555 */

  /* funky blue */
  --color-ice-cgh: oklch(89.3% 0.042 219.4); /* #BEE3EF */
  --color-sky-pop-cgh: oklch(75.8% 0.083 224.9); /* #74BCD8 */
  --color-pacific-cgh: oklch(58.1% 0.1 223.4); /* #1F87A6 */
  --color-deep-dive-cgh: oklch(40.9% 0.071 223.4); /* #0F5266 */
}

@layer utilities {
  a {
    transition: none;

    &.active {
      & > .link-bar {
        @apply bg-pacific-cgh w-12;
      }

      & > .link-text {
        @apply text-pacific-cgh;
      }
    }
  }
}
